:root{
   --nav_bar :#BFA100;;
    
}

.nav_bar{
   padding: 10px;
   background-color: var(--nav_bar);
   align-items: center;
   margin: 30px 25px 30px 25px;
   border-radius: 10px;
   display: flex;  
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 80px;
   align-items: center;

}
 .error {
    
     margin: 150px 0px 100px 0px;
     text-align: center;
      
     
 }

 .error h2 {
    font-size: 4rem;
 }

 .error a {
    font-size: 1.4rem


 }


 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
 }

 @media (max-width: 700px){
   footer{
      position: inherit;
   }

 }