/* Universal selection befor and after */
*, *::before, *::after {
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: "PT Serif", serif;
    margin: 0px;
    padding: 0px;
}

html {
    min-height: 100%;
}

body {
    font-family: "PT Serif", serif;
    background-color: #D7D5C8; 
}

/* Navigation style */
:root {
    --navigation-color: #BFA100;    
}

.page__header {    
    background-image: url("../img/ring-imag.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding-top: 30px;
    height: 600px;    
}

.page__nav_container {
    background-color: var(--navigation-color);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;      
}

.page__logo {
    height:  auto;
}

.page__navigation-bar {
    margin: 0px;
    padding: 0px;
}

.navigation-menu {   
    display: flex;
    flex-direction: row;   
}
.active, a:hover{
   background-color: #e0c516;
   padding: 9px;
   font-weight: bold;
} 

.navigation-menu .navigation_item {
    list-style: none;
} 

.navigation-menu .navigation_item a {
    text-decoration: none;
    padding-left: 25px;
    margin: 10px;
    color: white;
    font-size: 1.1rem;   
} 

.header_title {
    margin: auto;
}

.header_title h1 {
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 100px auto;
    padding: 20px;
}

.header_title h1 span {
    color: white;
    font-size: 2.2rem;
}

/* ------hamburger button ------ */
.hamburger {
    display: none;
    cursor: pointer;   
}

.bar {
    display: block;  
    width: 30px;
    height: 4px;
    border-radius: 2px;   
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
}

/* shop.html/shop-bracelet.html/login.html/contact.html/items.html/  without background image*/

.page__header_without_bgimg { 
    margin: 0px;
    padding-top: 30px;   
}

/* Responsive */

 
@media (max-width: 460px) {
   
     .navigation__bar {     
        width: auto;
        display: flex;
        margin-left: -150px;
    }

}
 
@media (max-width: 700px) {

    .page__header {
        background-position: center;       
    }

    .navigation-menu {
        position: fixed;
        left: -200%;
        top: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;  
        justify-content: space-around;
        align-items: center;
        height: 500px;
        transition: 0.5s;       
        width: 100%;
        background-color: #BFA100;     
    }

    .hamburger {
        display: block;
        margin-left: 250px;     
    }

    .bar {
        background-color: white;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
     }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);     
    }

    .navigation-menu.active {
        left: 0;
    }

}
 