 .error {
     margin: 150px 0px 300px 0px;
     text-align: center;   
 }
 .error h2 {
    font-size: 4rem;
 }
 .error a {
    font-size: 1.4rem
 }

 @media (max-width: 700px){
   footer{
      position: inherit;
   }
 }